/* ---------- Restaurants List ---------- */
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.restaurants__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 40px;
}

.restaurants__list-item {
  display: block;
  margin: 10px;
}
