@import '~antd/dist/antd.css';

/* ---------- Common Styles ---------- */
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  min-width: 100%;
  min-height: 100%;
}

.main__page {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(33, 150, 243, 0.05);
}

.main__page .ant-btn {
  font-weight: 700;
}

/* ---------- Restaurants List ---------- */
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.restaurants__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 40px;
}

.restaurants__list-item {
  display: block;
  margin: 10px;
}

/* ---------- Restaurant Item ---------- */
.restaurant__item {
  min-width: 50vw;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 40px 20px;
  margin: 30px;
}

.restaurant__item-heading.ant-typography {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0288d1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.restaurant__item-heading-img {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('/public/logo192.png');
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}

/* ---------- Restaurant Menu ---------- */
.restaurant__item-menu {
  margin-bottom: 40px;
}

.restaurant__item-menu-heading {
  text-align: center;
  border-top: 2px solid #03a9f4;
  border-bottom: 2px solid #03a9f4;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* ---------- Dish Item ---------- */
.dish__item {
  padding-top: 20px;
  margin-top: 20px;
}

.dish__item:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}

.dish__item-price {
  padding: 10px 0;
}

.dish__item-amount {
  display: flex;
  align-items: center;
}

.dish__item-amount-heading {
  font-weight: 700;
  margin-right: 10px;
}

.dish__item-amount-counter-text {
  padding: 0 5px;
}

/* ---------- Reviews List ---------- */
.restaurant__item-reviews-heading {
  text-align: center;
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid #1890ff;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* ---------- Review Item ---------- */
.review__item {
  padding-top: 20px;
  margin-top: 20px;
}

.review__item:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}
