@import '~antd/dist/antd.css';

/* ---------- Common Styles ---------- */
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  min-width: 100%;
  min-height: 100%;
}

.main__page {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(33, 150, 243, 0.05);
}

.main__page .ant-btn {
  font-weight: 700;
}
